<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EWastehubKenya"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="${applicationId}.firebaseinitprovider"
            tools:node="remove" />

        <activity
            android:name=".ui.theme.auth.SignupActivity"
            android:exported="true"
            android:theme="@style/Theme.EWastehubKenya">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.theme.auth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.EWastehubKenya" />

        <activity
            android:name=".ui.theme.dashboard.DashboardActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.EWastehubKenya" />
    </application>

</manifest>